@model InternshipsBookApp.Models.BookAddViewModel;
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!--Add New Book-->
    <div class="container mt-3">
        <h2>Defter Ekle</h2>
        <br />
        <!--Add New Book Form-->
        <form asp-action="Add" asp-controller="Book" method="post">
            <div class="form-group">
                <label asp-for="@Model.InternshipPlace"></label>
                <input type="text" class="form-control" asp-for="@Model.InternshipPlace" />
                <span asp-validation-for="@Model.InternshipPlace"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Department"></label>
                <input type="text" class="form-control" asp-for="@Model.Department" />
                <span asp-validation-for="@Model.Department"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DeliveryDate"></label>
                <input type="date" class="form-control" asp-for="@Model.DeliveryDate" />
                <span asp-validation-for="@Model.DeliveryDate"></span>
            </div>
            <button type="submit" class="btn btn-success btn-lg btn-block">Ekle</button>
        </form>
    </div>

